<section id="donators">
  <div class="page-header">
    <h1>Die Dias (Sneak Peek Edition) <small>Für mehr Infos aufs Logo klicken</small></h1>
  </div>

  <% @logos.each_slice(4) do |logo_row| %>
    <div class="row">
      <% logo_row.each do |logo| %>
        <div class="span3 logo <% unless logo.published? %>unpublished<% end %>">
          <%= link_to logo, :title => logo.title do %>
            <%= image_tag(logo.image.url, :alt => logo.title) %>
          <% end %>

          <h4 class="logotitle"><%= logo.title %></h4>
          <p class="logodate">
            <%= I18n.l logo.start_date, :format => :long %>
            -
            <%= I18n.l logo.end_date, :format => :long %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
